.rrestaurant-bot .rrestaurant-img-background {
  margin-top: 20px;
  background-image: url('/assets/img/table1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  border: 5px solid var(--primary-color);
  border-radius: 5px;
  background-position: 0 70%;
}
.rrestaurant-mid {
  text-align: center;
}
.rrestaurant-mid h2 {
  margin-bottom: 20px;
}
.rrestaurant-mid div {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;
  /* Empêche le retour à la ligne */
}
.rrestaurant-mid .reason1,
.rrestaurant-mid .reason2,
.rrestaurant-mid .reason3,
.rrestaurant-mid .reason4 {
  flex: 1;
  /* Chaque bloc prend une part égale de l'espace */
  min-width: 250px;
  max-width: 300px;
  text-align: left;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 1024px) {
  .reasons-container {
    flex-wrap: wrap;
    /* Permet le retour à la ligne sur petits écrans */
  }
  .reason1,
  .reason2,
  .reason3,
  .reason4 {
    width: 50%;
    /* Deux par ligne sur écrans plus petits */
  }
}
@media (max-width: 600px) {
  .reason1,
  .reason2,
  .reason3,
  .reason4 {
    width: 100%;
    /* Une seule colonne sur mobile */
  }
}
