.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-container .card-profil {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-container .card-profil .btn-modifier,
.profile-container .card-profil .btn-retour {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--third-color);
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  height: 40px;
  cursor: pointer;
}
.profile-container .card-profil .btn-modifier:hover,
.profile-container .card-profil .btn-retour:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}
.profile-container .card-profil .btn-supprimer {
  background-color: var(--secondary-background);
  color: red;
  border: none;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.profile-container .card-profil .btn-supprimer:hover {
  color: var(--secondary-background);
  background-color: #ff7a7a;
}
.profile-container .card-profil .card-profilAndSecurity {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
  padding-right: 20px;
}
.profile-container .card-profil .card-profilAndSecurity .card-personal-info,
.profile-container .card-profil .card-profilAndSecurity .card-security-info {
  background: var(--primary-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.profile-container .card-profil .card-profile-photo {
  background: var(--primary-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-items: center;
}
.profile-container .card-profil .card-profile-photo .user-photo {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}
.profile-container .card-profil .popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.profile-container .card-profil .popup {
  border: 3px solid var(--primary-color);
  background-color: var(--third-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.profile-container .card-profil .btn-confirm {
  background-color: var(--secondary-color);
  color: var(--third-color);
  padding: 10px 20px;
  margin-right: 10px;
}
.profile-container .card-profil .btn-cancel {
  background-color: gray;
  color: white;
  padding: 10px 20px;
}
.card-info {
  margin-bottom: 10px;
}
.card-info p {
  font-size: 1em;
  color: var(--primary-fonts);
}
.card-button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--button-background);
  color: var(--button-text);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
  transition: background 0.3s;
}
.card-button:hover {
  background: var(--button-hover-background);
}
.popup {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid var(--secondary-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.popup button {
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}
.popup button:hover {
  background-color: var(--secondary-color);
}
@media (max-width: 768px) {
  #card-profil {
    flex-direction: column;
    align-items: center;
  }
  .card-profilsecurity {
    flex: 1 1 100%;
  }
  .card-personal-info,
  .card-security-info,
  .card-profile-photo {
    flex: 1 1 100%;
  }
  .card-button {
    width: 100%;
  }
}
