.card-profil {
    .card-profilAndSecurity {
        .card-profilAndSecurity,
        .card-security-info {
            margin: 10px 0;

        }

        .card-info {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            label {
                width: 120px;
                font-weight: bold;
            }

            input {
                flex: 0 1 350px;
                background-color: var(--third-color);
                padding: 5px;
                border: 1px solid var(--primary-color);
                border-radius: 6px;
                font-size: 14px;
                outline: none;

                &:focus {
                    border-color: var(--primary-color);
                }
            }
        }        
    }
}
